.competitor-list {
    background-color: #939393;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 400px;
    overflow-y: auto;
    padding: 8px;
}

.competitor {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: flex-start;

    &.pending {
        color: #939393;
    }
}